<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Video Game Library</title>https://google.com
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="styles/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <header>
    <h1><em>Video Game Library Project</em></h1>
  </header>

  <body>
    <nav>
      <p class="navBox">
        <a class="btn badge-pill" href="/">Home</a>
        <a class="btn badge-pill" href="games">Games</a>
        <a class="btn badge-pill" href="customers">Customers</a>
        <a class="btn badge-pill" href="rentals">Rentals</a>
      </p>
    </nav>
    <section class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md">
            <h2><em>Customers:</em></h2>
            <table id="allCustomersTable" class="realTables">
            <caption
              style="caption-side: top; text-align: center; color: #5b7d87"
            >
              <h2>Customers</h2>
            </caption>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Card</th>
            </tr>
            <tbody class="tbody">
               <tr th:each="customer : ${customers}">
                  <td><a href="#" th:href="@{getCustByID(custID=${customer.customerId})}" th:text="${customer.customerId}">customerId</a></td>
                  <td th:text="${customer.firstName}">firstName</td>
                  <td th:text="${customer.lastName}">lastName</td>
                  <td th:text="${customer.phoneNumber}">phoneNumber</td>
                  <td th:text="${customer.address}">address</td>
                  <td th:text="${customer.cardNumber}">cardNumber</td>
               </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-5 col-md">
            <h3 style="margin-top: 8%;">Add Customer</h3>
                  <form action="addCustomer" method="POST" class="form">
                      <div class="form-group">
                          <label class="col-4" for="newCustFname">First Name</label>
                          <input class="col-8 form-control" type="text" id="newCustFname" name="firstName" maxlength="15" required placeholder="First 15 Characters"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newCustLname">Last Name</label>
                          <input class="col-8 form-control" type="text" id="newCustLname" name="lastName" maxlength="25" placeholder="First 25 Characters"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newCustPhone">Phone</label>
                          <input class="col-8 form-control" type="text" id="newCustPhone" name="phoneNumber" maxlength="14" placeholder="(999) 999-9999"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newCustAdd">Address</label>
                          <input class="col-8 form-control" type="text" id="newCustAdd" name="address" maxlength="50" required placeholder="First 50 Characters"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newCustCard">Card Number</label>
                          <input class="col-8 form-control" type="text" id="newCustCard" name="cardNumber" maxlength="16" required placeholder="999999999999"/>
                      </div>
                      <button type="submit" class="btn btn-primary">Add Customer</button>
                  </form>
        </div>
      </div>
    <!-- CDN links copied from https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
