<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Video Game Library</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="styles/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <header>
    <h1><em>Video Game Library Project</em></h1>
  </header>

  <body>
    <nav>
      <p class="navBox">
        <a class="btn badge-pill" href="index.html">Home</a>
        <a class="btn badge-pill" href="games.html">Games</a>
        <a class="btn badge-pill" href="customers.html">Customers</a>
        <a class="btn badge-pill" href="rentals.html">Rentals</a>
      </p>
    </nav>
    <section class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md">
            <h2><em>Games:</em></h2>
            <table id="allGamesTable" class="realTables">
            <caption
              style="caption-side: top; text-align: center; color: #5b7d87"
            >
              <h2>Games</h2>
            </caption>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Platform</th>
              <th>Year</th>
              <th>Publisher</th>
              <th>Genre</th>
            </tr>
            <tbody class="tbody">
              <tr th:each="game : ${games}">
                  <td th:text="${game.gameId}">gameId</td>
                  <td th:text="${game.gameName}">gameName</td>
                  <td th:text="${game.gamePlatform}">gamePlatform</td>
                  <td th:text="${game.gameYear}">gameYear</td>
                  <td th:text="${game.gamePublisher}">gamePublisher</td>
                  <td th:text="${game.gameGenre}">gameGenre</td>
               </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-5 col-md">
            <h3 style="margin-top: 8%;">Add Game</h3>
                  <form action="addGame" method="POST" class="form">
                      <div class="form-group">
                          <label class="col-4" for="newGameTitle">Title</label>
                          <input class="col-8 form-control" type="text" id="newGameTitle" name="gameName" maxlength="50" required placeholder="50 Character Max"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newGamePlat">Platform</label>
                          <input class="col-8 form-control" type="text" id="newGamePlat" name="gamePlatform" maxlength="5" required placeholder="5 Character abbreviation"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newGameYear">Year</label>
                          <input class="col-8 form-control" type="number" id="newGameYear" name="gameYear" min="1980" max="2021" placeholder="YYYY"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newGamePub">Publisher</label>
                          <input class="col-8 form-control" type="text" id="newGamePub" name="gamePublisher" maxlength="50" placeholder="50 Character Max"/>
                      </div>
                      <div class="form-group">
                          <label class="col-4" for="newGameGenre">Genre</label>
                          <input class="col-8 form-control" type="text" id="newGameGenre" name="gameGenre" maxlength="15" placeholder="15 Character Max"/>
                      </div>
                      <button type="submit" class="btn btn-primary">Add Game</button>
                  </form>
        </div>
      </div>
    <!-- CDN links copied from https://getbootstrap.com/docs/4.1/getting-started/introduction/ -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
